.map{
  width:100%;
  height: 100vh;
  .position-infomation{
    position: fixed;
    bottom: 20px;
    width: 80%;
    background: white;
    left: 10%;
  }
  .mark-item{
    width: 10px;
    height: 10px;
    position:fixed;
    left: 50%;
    top: 50%;
  }
}
